*{
    box-sizing: border-box;
}

body{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    overflow-x: hidden;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.start{
    background: linear-gradient(180deg, #174679 0%, #8D60F1 65.68%);
    position: relative;
    margin-bottom: 45px;
}

.header{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.logo-inner{
    display: flex;
    max-width: 290px;
    align-items: center;
}

.logo-inner img{
    border-right: 1px solid #fff;
    padding-right: 21px;
}

.logo-inner p{
    padding-left: 21px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

.head-inner h1{
    font-weight: 600;
    font-size: 62px;
    line-height: 84px;
    color: #fff;
    padding-bottom: 99px;
}

.button{
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    background: #FCFCFC;
    border-radius: 32px;
    cursor: pointer;
}

.connect-phone{
    margin-right: 25px;
}

.connect-button{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #fff;
    padding: 6px 20px
}

.start::before{
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: -49px;
    width: 102%;
    border-style: solid;
    border-width: 70px 100vw 65px 0px;
    border-color: #fff;
    transform: rotate(-5deg);
}

.main{
    margin-bottom: 55px;
}

.main-inner{
    position: relative;
}

.main-content{
    max-width: 780px;
    padding-bottom: 75px;
}

.main-content h2{
    font-weight: 600;
    font-size: 62px;
    line-height: 38px;
    color: #282828;
    margin-bottom: 65px;
}

.main-content p{
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #282828;
    margin-bottom: 55px;
    max-width: 675px;
}

.main-button{
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    padding: 12px 86px;
    background: linear-gradient(180deg, #8D60F1 0%, #18467A 100%);
    border-radius: 35px;
    border: none;
    color: #fff;
}

.main-inner img{
    position: absolute;
    top: -63%;
    right: -342px;
    width: 60%;
}

.work{
    margin-bottom: 25px;
}

h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 50px;
}

.work h3{
    text-align: center;
}

.work-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}

.work-item{
    width: 33%;
    text-align: center;
}

.work-item img{
    margin-bottom: 45px;
}

.work-item-info p{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    min-height: 240px;
    max-width: 200px;
    margin: 0 auto;
}


.respons{
    display: flex;
    align-items: flex-end;
}

.respons img{
    margin-right: 30px;
}

.respons-info ul{
    list-style-type: none;
}

.respons-info ul li{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 25px;
    padding-left: 29px;
}

.respons-info ul li::before{
    content: url(../img/icon/check.png);
    position: relative;
    padding-right: 15px;
    top: 10px;
}

.tax{
    background: linear-gradient(0deg, #8D60F1 27.71%, #18467A 100%);
    position: relative;
    margin-bottom: 75px;
}

.tax-content{
    padding-top: 50px;
    padding-bottom: 80px;
    max-width: 450px;
}

.tax-content h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 0;
}

.tax-content p{
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 28px;
}

.tax-content ul{
    list-style-type: none;
    margin-bottom: 20px;
}

.tax-content ul li{
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 25px;
}

.tax-content ul li:before{
    content: url(../img/icon/check.png);
    position: relative;
    padding-right: 15px;
    top: 10px;
}

.tax-content span{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

.tax img{
    position: absolute;
    width: 29%;
    right: 427px;
    top: 43px;
}

.tax::before{
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: -50px;
    width: 102%;
    border-style: solid;
    border-width: 25px 100vw 65px 0px;
    border-color: #fff;
    transform: rotate(-3deg);
}

.more{
    margin-bottom: 25px;
}

.more-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 110px;
}

.more-item img{
    margin-right: 30px;
}

.more-item-info h3{
    margin-bottom: 15px;
}

.more-item-info span{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.more-item-info p{
    font-weight: 400;
    font-size: 17px;
    line-height: 38px;
}

.more-item-info ul{
    list-style-type: none;
}

.more-item-info ul li{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 52px;
}

.more-item-info ul li:before{
    content: url(../img/icon/arrow.png);
    position: relative;
    padding-right: 12px;
    top: 13px;
}

.clients{
    margin-bottom: 65px;
}

.clients-inner{
    display: flex;
    align-items: center;
    background: #EBF4FF;
    border-radius: 8px;
}

.clients-inner img{
    margin-right: 30px;
}

.clients-content{
    padding-right: 65px;
    padding-top: 50px;
}

.clients-content h3{
    margin-bottom: 0;
}

.clients-content ul{
    list-style-type: none;
}

.clients-content ul li{
    font-weight: 400;
    font-size: 17px;
    line-height: 52px;
}

.clients-content ul li::before{
    content: url(../img/icon/arrow.png);
    position: relative;
    padding-right: 12px;
    top: 13px;
}

.clients-content ul li:nth-child(4), .clients-content ul li:nth-child(5){
    line-height: 20px;
}

.partners{
    margin-bottom: 50px;
}

.partners-inner h3{
    text-align: center;
}

.partners-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.partners-content img{
    margin-bottom: 45px;
}

.consult{
    margin-bottom: 65px;
}

.consult-inner h4{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #282828;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.consult-inner span{
    color: #8D60F1;
}

.consult-inner p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 45px;
}

.consult-inner p:nth-child(3){
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #8D60F1;
    max-width: 695px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.consult-button{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding: 10px 60px;
    background: linear-gradient(180deg, #8D60F1 0%, #6C3CD9 100%);
    border-radius: 35px;
    border: none;
    color: #fff;
    margin: 0 auto;
    display: block;
}

.footer{
    background: linear-gradient(180deg, #8D60F1 0%, #18467A 100%);
    color: #FFFFFF;
}

.footer-inner{
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer-top{
    text-align: center;
    margin-bottom: 70px;
}

.footer-top h3{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.footer-top p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.017em;
}

.footer-top span{
    font-weight: 700;
}

.footer-middle{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-middle p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.017em;
    margin-bottom: 20px;
}

.footer-middle span{
    color: #938BE9;
}

.footer-bottom{
    background: rgba(0, 0, 0, 0.15);
}

.bottom-inner{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo{
    display: flex;
    align-items: center;
}

.footer-logo img{
    padding-right: 20px;
    border-right: 1px solid #fff;
}

.footer-logo p{
    padding-left: 20px;
}

.footer-reset{
    display: flex;
    align-items: center;
}

.footer-reset p{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-right: 15px;
}

.reset-button{
    background: #fff;
    padding: 17px 20px;
    border-radius: 50%;
    border: none;
}