* {
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    overflow-x: hidden;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.start {
    background: linear-gradient(180deg, #174679 0%, #8D60F1 65.68%);
    position: relative;
    margin-bottom: 45px;
}

.header {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.logo-inner {
    display: flex;
    max-width: 290px;
    align-items: center;
}

.logo-inner img {
    border-right: 1px solid #fff;
    padding-right: 21px;
}

.logo-inner p {
    padding-left: 21px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

.head-inner h1 {
    font-weight: 600;
    font-size: 62px;
    line-height: 84px;
    color: #fff;
    padding-bottom: 99px;
}

.button {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    background: #FCFCFC;
    border-radius: 32px;
    cursor: pointer;
}

.connect-phone {
    margin-right: 25px;
}

.connect-button {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #fff;
    padding: 6px 20px
}

.start::before {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: -49px;
    width: 102%;
    border-style: solid;
    border-width: 70px 100vw 65px 0px;
    border-color: #fff;
    transform: rotate(-5deg);
}

.start-modal-content {
    background: linear-gradient(180deg, #144576 0%, #8D60F1 100%);
    border-radius: 5px;
    border: none;
}

.start-modal-header .btn-close {
    --bs-btn-close-bg: url('https://i.ibb.co/ScfYq97/close.png');
}

.start-modal-content .start-modal-header {
    border: none;
    padding-top: 28px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
}

.start-modal-body {
    padding-top: 10px;
    padding-bottom: 55px;
}

.start-form p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.017em;
    color: #fff;
    margin-bottom: 33px;
}

.start-form input {
    max-width: 350px;
    margin: 0 auto;
}

.start-form div {
    max-width: 315px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.start-form input {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    background: #888BD7;
    border-radius: 32px;
    border: none;
}

.start-form input:nth-child(2) {
    margin-bottom: 28px;
}

.start-form input:nth-child(3) {
    margin-bottom: 18px;
}

.start-form input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.start-form button {
    display: block;
    margin: auto;
    width: 350px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: #FCFCFC;
    border-radius: 32px;
    color: #000000;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .5s;
    border: 2px solid #FFFFFF;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #fff;
}

.start-form-check input {
    width: 16px;
    height: 16px;
    background: #745BD8;
    border: 3px solid #fff;
    padding-top: 0;
    padding-bottom: 0;
}

.start-form-check label {
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.form-check-input[type=checkbox] {
    border-radius: 50%;
}

.form-check-input:checked {
    background-color: #fff;
    border-color: #fff;
}

.main {
    margin-bottom: 55px;
}

.main-inner {
    position: relative;
}

.main-content {
    max-width: 780px;
    padding-bottom: 75px;
}

.main-content h2 {
    font-weight: 600;
    font-size: 62px;
    line-height: 38px;
    color: #282828;
    margin-bottom: 65px;
}

.main-content p {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #282828;
    margin-bottom: 55px;
    max-width: 675px;
}

.main-button {
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    padding: 12px 86px;
    background: linear-gradient(180deg, #8D60F1 0%, #18467A 100%);
    border: 2px solid #8D60F1;
    border-radius: 35px;
    color: #fff;
    transition: all .5s;
}

.main-button:hover{
    background: transparent;
    border: 2px solid #6C3CD9;
    color: #6C3CD9;
}

.main-inner img {
    position: absolute;
    top: -63%;
    right: -342px;
    width: 60%;
}

.work {
    margin-bottom: 25px;
}

h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 50px;
}

.work h3 {
    text-align: center;
}

.work-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}

.work-item {
    width: 33%;
    text-align: center;
}

.work-item img {
    margin-bottom: 45px;
}

.work-item-info p {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    min-height: 240px;
    max-width: 200px;
    margin: 0 auto;
}

.respons {
    display: flex;
    align-items: flex-end;
}

.respons-info-item{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.respons img {
    margin-right: 15px;
}


.tax {
    background: linear-gradient(0deg, #8D60F1 27.71%, #18467A 100%);
    position: relative;
    margin-bottom: 75px;
}

.tax-content {
    padding-top: 50px;
    padding-bottom: 80px;
    max-width: 450px;
}

.tax-content h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 0;
}

.tax-content p {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 28px;
}

.tax-content ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.tax-content ul li {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 25px;
}

.tax-content ul li:before {
    content: url(../img/icon/check.png);
    position: relative;
    padding-right: 15px;
    top: 10px;
}

.tax-content span {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

.tax img {
    position: absolute;
    width: 29%;
    right: 427px;
    top: 43px;
}

.tax::before {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: -50px;
    width: 102%;
    border-style: solid;
    border-width: 25px 100vw 65px 0px;
    border-color: #fff;
    transform: rotate(-3deg);
}

.more {
    margin-bottom: 25px;
}

.more-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 110px;
}

.more-item img {
    margin-right: 30px;
}

.more-item-info h3 {
    margin-bottom: 35px;
}

.payments h3{
    margin-bottom: 15px;
}

.more-item-info span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: block;
    margin-bottom: 25px;
}

.more-item-info p {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 30px;
}

.more-item-list p{
    margin-bottom: 0;
}

.more-item-point{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.more-item-point img{
    margin-right: 25px;
}

.clients {
    margin-bottom: 65px;
}

.clients-inner {
    display: flex;
    align-items: center;
    background: #EBF4FF;
    border-radius: 8px;
}

.clients-inner img {
    margin-right: 30px;
}

.clients-content {
    padding-right: 65px;
    padding-top: 50px;
}

.clients-content h3 {
    margin-bottom: 35px;
}

.clients-points-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.clients-points-item img{
    margin-right: 15px;
}


.partners {
    margin-bottom: 50px;
}

.partners-inner h3 {
    text-align: center;
}

.partners-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.partners-content img {
    margin-bottom: 45px;
}

.consult {
    margin-bottom: 65px;
}

.consult-inner h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #282828;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.consult-inner span {
    color: #8D60F1;
}

.consult-inner p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 45px;
}

.consult-inner p:nth-child(3) {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #8D60F1;
    max-width: 695px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.consult-button {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding: 10px 60px;
    background: linear-gradient(180deg, #8D60F1 0%, #6C3CD9 100%);
    border-radius: 35px;
    border: none;
    color: #fff;
    margin: 0 auto;
    display: block;
}

.footer {
    background: linear-gradient(180deg, #8D60F1 0%, #18467A 100%);
    color: #FFFFFF;
}

.footer-inner {
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer-top {
    text-align: center;
    margin-bottom: 70px;
}

.footer-top h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.footer-top p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.017em;
}

.footer-top span {
    font-weight: 700;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-middle p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.017em;
    margin-bottom: 20px;
}

.footer-middle span {
    color: #938BE9;
}

.footer-bottom {
    background: rgba(0, 0, 0, 0.15);
}

.bottom-inner {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    padding-right: 20px;
    border-right: 1px solid #fff;
}

.footer-logo p {
    padding-left: 20px;
}

.footer-reset {
    display: flex;
    align-items: center;
}

.footer-reset p {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-right: 15px;
}

.footer-reset a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.reset-button {
    background: #fff;
    padding: 17px 20px;
    border-radius: 50%;
    border: none;
}

@media (max-width: 575.98px) {

    body{
        overflow-x: hidden;
    }

    .start{
        margin-bottom: 0px;
        overflow-x: hidden;
    }

    .start::before{
        bottom: -75px;
    }

    .header{
        align-items: center;
        justify-content: center;
    }

    .logo-inner{
        margin-right: 21px;
    }

    .logo-inner p{
        display: none;
    }

    .connect-phone{
        background: transparent;
        padding: 0;
        margin: 0;
        color: #FFFFFF;
    }

    .connect-button{
        display: none;
    }

    .head-inner h1{
        font-size: 30px;
        text-align: center;
    }

    .main{
        margin-bottom: 45px;
    }

    .main-content{
        padding-bottom: 0;
    }

    .main-content h2{
        font-size: 22px;
        line-height: 12px;
        margin-bottom: 15px;
    }

    .main-content p{
        font-size: 17px;
        line-height: 20px;
        max-width: 300px;
    }

    .main-button{
        margin: 0 auto;
        display: block;
        padding: 10px 55px;
    }

    .main-inner img{
        display: none;
    }

    .work{
        margin-bottom: 25px;
    }

    .work h3{
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .work-content{
        flex-direction: column;
        margin-bottom: 58px;
    }

    .work-item{
        width: 100%;
    }

    .work-item img{
        margin-bottom: 25px;
    }

    .work-item-info{
        margin-bottom: 20px;
    }

    .work-item-info p{
        max-width: 80%;
        min-height: fit-content;
    }

    .respons{
        flex-direction: column-reverse;
        align-items: normal;
    }

    .respons-info ul li{
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 13px;
    }

    .respons-info{
        margin-bottom: 35px;
    }

    .tax{
        margin-bottom: 30px;
        overflow-x: hidden;
    }

    .tax::before{
        bottom: -25px;
        border-width: 0px 78vw 40px 0px;
    }

    .tax .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .tax-content{
        padding-top: 30px;
    }

    .tax-content h3{
        font-size: 22px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 15px;
    }

    .tax-content p{
        font-size: 17px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 10px;
    }

    .tax-content ul{
        text-align: center;
    }

    .tax-content ul li{
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .tax-content span{
        display: block;
        max-width: 290px;
        margin: 0 auto;
    }

    .tax img{
        position: inherit;
        width: 100%;
        padding-top: 40px;
    }

    .more-item{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .more-item img{
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 150px;
    }

    .more-item-info h3{
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .payments{
        margin-bottom: 10px;
    }

    .more-item-info span{
        font-size: 17px;
        line-height: 20px;
        max-width: 220px;
        display: block;
        margin-bottom: 15px;
    }

    .more-item-info p{
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .more-item-point{
        margin-bottom: 35px;
    }

    .more-item-point img{
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 30px;
    }

    .more-item-point p{
        margin-bottom: 0;
    }

    .clients{
        margin-bottom: 50px;
    }

    .clients-inner{
        flex-direction: column-reverse;
    }

    .clients-inner img{
        margin-right: 0;
        width: 100%;
    }

    .clients-content{
        padding-top: 35px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .clients-content h3{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 30px;
    }

    .clients-poitns img{
        width: fit-content;
        margin-right: 15px;
    }

    .partners{
        margin-bottom: 65px;
    }

    .partners-inner h3{
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 35px;
    }

    .partners-content{
        flex-direction: column;
    }

    .partners-content img{
        margin-bottom: 20px;
        width: 55%;
    }

    .consult{
        margin-bottom: 45px;
    }

    .consult-inner h4{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 28px;
    }

    .consult-inner p{
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 36px;
    }

    .consult-inner p:nth-child(3){
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 28px;
    }

    .consult-button{
        font-size: 17px;
        line-height: 21px;
        padding: 17px 78px;
    }

    .footer-inner{
        padding-bottom: 18px;
    }

    .footer-top{
        margin-bottom: 30px;
    }

    .footer-top h3{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 23px;
    }

    .footer-top p{
        font-size: 17px;
        line-height: 20px;
    }

    .footer-middle{
        flex-direction: column;
        text-align: center;
    }

    .middle-left{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .footer-middle p{
        font-size: 17px;
        line-height: 20px;
    }

    .middle-right{
        margin: 0 auto;
    }

    .footer-middle p{
        font-size: 17px;
        line-height: 20px;
    }

    .footer-logo img{
        display: none;
    }

    .footer-logo p{
        font-size: 15px;
        line-height: 20px;
        padding-left: 0;
    }

    .footer-reset p{
        font-size: 15px;
        line-height: 20px;
    }

    .reset-button{
        padding: 12px 16px;
    }








}